<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- utilice una api key que me dio un profe hace tiempo, no se si siga valida pero no quiero usar la tarjeta -->
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyBH9V5bQR8NiE3cDgeax6xuFkn0B6LdEk4"/>


        <activity android:name=".ItemDetail" android:theme="@style/Theme.MaterialComponents.NoActionBar"/>
        <activity android:name=".UserPage" android:theme="@style/Theme.MaterialComponents.NoActionBar"/>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.MaterialComponents.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>